data/
unit_cell_data.csv
emittance_labels.csv
unit_cell_data_16.csv
env/
*/.DS_Store
__pycache__/
material_average_data.csv
all_chemical_formulas.txt
material_average_data_plus.csv
eff_mass_dataset.csv
